<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Edit Animal Information </title>
    </head>
    <body>
        <h2>
            Edit animal
        </h2>
        <br>
        <form method="POST" action="/animal/animals/<%= animal.animalId %>" 
        style="display: flex; flex-direction: column; justify-content: center;
        align-content: center;align-items: center;">
            <div>
                <label for="animalName">
                    Animal Name: 
                </label>
                <input type="text" id="animalName" name="animalName" value="<%= animal.animalName %>"/>
            </div>
            <div>
                <label for="animalInformation">
                    Animal Information: 
                </label>
                <textarea type="text" id="animalInformation" name="animalInformation" placeholder=""><%= animal.animalInformation %></textarea>
            </div>
            <button type="submit">
                Edit Info
            </button>
        </form>
    </body>
</html>